/* html elements */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana;
    text-align: center;
}
h1 {
    margin: 10px auto;
}
th {
    padding-bottom: 7px;
}
label {
    float: left;
}
hr {
    margin-bottom: 10px;
}
a img {
    border: none;
    margin: 5px;
}

table {
    margin: 0 auto;
    margin-bottom: 15px;
}

table td {
    vertical-align: top;
}

table input, table select {
    width: 200px;
}

/* table models */
#models {
    margin: 0 auto;
    margin-bottom: 15px;
}
#models input {
    width: 100px;
}

/* div selected_model */
#selected_model {
    display: none;
}
#p_what p{
    margin-bottom: 10px;
}

/* table table_selected_model */
#table_selected_model {
    width: 670px;
    margin-bottom: 20px;
}

#pid_parameters {
    display: none;
}

/* paragraph footer */
#footer {
    font-size: x-small;
}

/* div graph */ 
#graph {
    margin: 10px auto;
}

#add_form {
    margin-bottom: 0;
}

#model_name {
    width: 300px;
    font-size: 14px;
}

#model_td {
    width: 300px;
}

#model_img {
    margin-top: 15px;
}

#model_description {
    font-size: 12px;
    padding: 0 10px;
    text-align: justify;
}

#language {
    font-size: 12px;
    margin-bottom: 10px;
}

#language a {
    color: #0000CC;
    text-decoration: none;
}

#language a:hover{
    text-decoration: underline;
}
    
